.input__error
    color: red
    display: block
    font-size: 0.7em
    margin: 7px 0 3px 0

@keyframes trembling
    0%
        transform: translateX(0)
    25%
        transform: translateX(10px)
    75%
        transform: translateX(-10px)
    100%
        transform: translateX(0)

.input[aria-invalid]:not([aria-invalid=false])
    animation: trembling 0.1s 2
