@import "./lib/config";
@import "./lib/functions";

//#region Body

body {
    margin: 0;
    color: $lt-text-color;
    background: $lt-background-color;
}

//#endregion

//#region Tables

$overrides--table-border-color: get-border-color-based-on-background($lt-table-background-color);
$overrides--table-text-color: get-text-color-based-on-background($lt-table-background-color);

$overrides--table-header-border-color: shift-color-brightness($lt-table-background-color, 30%);
$overrides--table-header-background-color: shift-color-brightness($lt-table-background-color, 3%);

$overrides--table-hover-cell-color: shift-color-brightness($lt-table-background-color, 5%);
$overrides--table-hover-cell-vertical-border-color: shift-color-brightness($lt-table-background-color, 3%);
$overrides--table-active-cell-outline-color: shift-color-brightness($lt-table-background-color, 100%);

$overrides--cell-padding: 7px;

table {
    width: 100%;
    border-collapse: collapse;
    background-color: $lt-table-background-color;
    color: $overrides--table-text-color;

    & > tr {
        border-bottom: 1px solid $overrides--table-border-color;

        &.hs {
            border-bottom: 1px solid $overrides--table-header-border-color;
            background-color: $overrides--table-header-background-color;

            & > th {
                padding: $overrides--cell-padding + 5px;
            }
        }

        td, th {
            padding: $overrides--cell-padding;
        }

        td {
            &:hover {
                background: $overrides--table-hover-cell-color;
            }

            &:active, &.active {
                outline: 1px dashed $overrides--table-active-cell-outline-color;
            }

            &:not(:last-child) {
                border-right: 1px dashed $overrides--table-hover-cell-vertical-border-color;
            }
        }
    }
}

//#endregion


//#region Typography

//#endregion


//#region Inputs (except for buttons)

$overrides--inputs-padding: 7px;
$overrides--inputs-border-color: shift-color-brightness($lt-background-color, 20%);

@mixin input-style-1() {
    padding: $overrides--inputs-padding;
    background-color: $lt-background-color;
    border-radius: 4px;
    border: 1px solid $overrides--inputs-border-color;

    &[aria-invalid="true"] {
        box-shadow: 0 0 0 1px red;
        border-color: red;
    }

    &:focus {
        outline: none;
        border-color: black;
        box-shadow: 0 0 0 1px black;
    }
}


select {
    @include input-style-1;
}

textarea {
    @include input-style-1;
}

input {
    &:not([type]),
    &[type="date"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="time"],
    &[type="url"],
    &[type="week"]
    {
        @include input-style-1;
    }

    &[type="checkbox"] {
        height: 0;
        width: 0;
        cursor: pointer;
        outline: none !important;
        margin: 0 30px 12px 0;
        padding: 10px;
        display: inline-block !important;

        &::after {
            line-height: 1.5em;
            font: normal normal normal 14px/1 FontAwesome;
            line-height: 20px;
            text-align: center;
            display: inherit;
            width: 20px;
            height: 20px;
            position: relative;
            top: -16px;
            left: 3px;
            content: '';
            box-shadow: 0 0 0 1px $overrides--inputs-border-color, inset 0 0 0 1px white;
        }

        &:checked::after {
            box-shadow: 0 0 0 2px black, inset 0 0 0 1px white;
            content: '\f00c';
        }
    }
}

//#endregion

//#region Buttons (and button-like beasts)

@mixin button-style-focus-outline() {
    &:focus {
        outline: none;
        box-shadow: 0 0 0 1px black;
        border-color: black ;
    }
}

@mixin button-style-common() {
    border: 1px solid ;
    border-radius: 4px;
    padding: 6px 12px;
    background: $lt-background-color;
    cursor: pointer;

    @include button-style-focus-outline;

    &.big {
        font-size: 1.5em;
        padding: 13px 19px;
    }

    &.flat {
        border-radius: 0;
        border: none;
        padding: 25px 10px;
    }
}


@mixin button-style-primary() {
    &:hover {
        border-color: shift-color-brightness($lt-palette-color, 10%);
        background: shift-color-brightness($lt-palette-color, 10%);
    }

    @include button-style-common;
    border-color: $lt-palette-color;
    background: $lt-palette-color;
    color: $light-text-color;
}

@mixin button-style-normal() {
    @include button-style-common;
    border-color: shift-color-brightness($lt-background-color, 10%);
    background: $lt-background-color;
    color: $dark-text-color;

    &:hover {
        background-color: shift-color-brightness($lt-background-color, 5%);
    }
}

input[type="submit"] {
    @include button-style-primary;
}

button,
input[type="button"],
input[type="reset"]
{
    @include button-style-normal;
}



.button {
    @include button-style-normal;
    display: inline-block;

    &-clear {
        border-color: transparent;
        background: transparent;

        &:hover {
            background: transparent;
        }

        @include button-style-focus-outline;
    }

    &-primary {
        @include button-style-primary;
    }
}

//#endregion
