@import "../config";

@mixin button-style-ex($bg, $bgH, $fg, $fgH) {
    background: $bg;
    color: $fg;

    &:hover {
        background: $bgH;
        color: $fgH;
        text-decoration: underline
    }

    &:active {
        background: darken($bgH, 10%);
    }
}


@mixin button-style($bg, $fg) {
    @include button-style-ex($bg, darken($bg, 3%), $fg, lighten($fg, 10%))
}


a.btn {
    display: inline-block;
    text-align: center;
}

.btn {
    outline: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 6px 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.2s;

    &:active {
        box-shadow: 0 0 0 2px #dfdfdf;
    }

    &:disabled {
        cursor: not-allowed;
        background: lightgray;
        color: gray;
        &:hover {
            color: gray;
            background: lightgray;
        }
    }

    @include button-style(whitesmoke, black);

    &--primary {
        @include button-style($ss-button-primary-bg, $ss-button-primary-fg);
    }

    &--danger {
        @include button-style($ss-button-danger-bg, $ss-button-danger-fg);
    }

    &--transparent:hover {
        background: transparent
    }

    &--flat-white {
        border: 2px solid white;
        background: transparent;
        transition: background 0.1s;
        color: white;


        &:hover {
            background: white;
            color: black;
        }
    }
}







