@mixin form-style() {
    padding: 0 5px;
}

@mixin form-control-style() {
    margin: 8px 0 14px 0;
}

.control {
    @include form-control-style;
}


textarea {
    width: 100%;
    box-sizing: border-box;
}
