.avatar {
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    width: 300px;
    height: 300px;

    @for $i from 1 through 5 {
        &.s#{$i * 30} {
            width: #{$i * 50}px;
            height: #{$i * 50}px;
        }
    }

    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    & > img {
        height: 100%;
        object-fit: cover;
    }
}
