
$nav-height: 80px !default


.nav-placeholder
  height: $nav-height

.nav
    z-index: 1000
    display: flex
    align-items: center
    overflow-x: auto
    position: fixed
    width: 100vw
    height: $nav-height

    &__right
        margin: 10px 20px 10px auto


    &__burger
        display: none
        position: relative
        height: 40px
        width: 40px
        align-self: center
        justify-items: stretch
        flex-direction: column
        justify-content: space-between
        margin: 10px 10px 10px auto

        & > i
            height: 2px
            background: black
            width: 100%
            transition: transform 0.1s, opacity 0.1s
            display: block

        &--active
            & > i:first-child
                transform: rotate(45deg) scale(1.32421356237)
                transform-origin: 0 0
            & > i:last-child
                transform: rotate(-45deg) scale(1.32421356237)
                transform-origin: 0 0
            & > i:nth-child(2)
                opacity: 0

    &__brand
        margin-left: 20px

    &__links
        list-style: none
        display: flex
        align-items: center
        margin-left: 30px
        position: relative

        &__a
              text-decoration: none
              margin: 5px 3px
              padding: 0 10px
              min-width: 40px
              height: 2em
              vertical-align: middle
              display: flex
              align-items: center
              justify-content: center
              position: relative

    @media screen and ($ss-breakpoint-mobile)
        &__burger
          display: flex
          position: relative
          &:active::after
            content: ''
            position: absolute
            background: whitesmoke
            width: 100%
            height: 100%
            background: rgba(0, 0, 0, 0.1)
            border-radius: 50%
            transform: scale(1.1)

        &__links
            transition: opacity 0.3s
            position: fixed
            flex-direction: column
            top: $nav-height
            bottom: 0
            width: 100vw
            margin: 0
            justify-content: center
            opacity: 0
            pointer-events: none
            background: white

    &--active &__links
        opacity: 1
        pointer-events: initial

