@charset "UTF-8";.CodeMirror{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}.tui-editor-contents :not(table){line-height:160%;box-sizing:content-box}.tui-editor-contents address,.tui-editor-contents cite,.tui-editor-contents dfn,.tui-editor-contents em,.tui-editor-contents i,.tui-editor-contents var{font-style:italic}.tui-editor-contents strong{font-weight:700}.tui-editor-contents p{margin:10px 0;color:#555}.tui-editor-contents>div>div:first-of-type h1,.tui-editor-contents>h1:first-of-type{margin-top:14px}.tui-editor-contents h1,.tui-editor-contents h2,.tui-editor-contents h3,.tui-editor-contents h5{font-weight:700}.tui-editor-contents h1{font-size:1.6rem;line-height:28px;border-bottom:3px double #999;margin:52px 0 15px 0;padding-bottom:7px;color:#000}.tui-editor-contents h2{font-size:1.3rem;line-height:23px;border-bottom:1px solid #dbdbdb;margin:30px 0 13px 0;padding-bottom:7px;color:#333}.tui-editor-contents h3,.tui-editor-contents h4{font-size:1.2rem;line-height:18px;margin:20px 0 2px;color:#333}.tui-editor-contents h5,.tui-editor-contents h6{font-size:1rem;line-height:17px;margin:10px 0 -4px;color:#333}.tui-editor-contents blockquote{margin:15px 0}.tui-editor-contents blockquote{border-left:4px solid #ddd;padding:0 15px;color:#777}.tui-editor-contents blockquote>:first-child{margin-top:0}.tui-editor-contents blockquote>:last-child{margin-bottom:0}.tui-editor-contents code,.tui-editor-contents pre{font-family:Consolas,Courier,"Apple SD \C0B0\B3CC\ACE0\B515   Neo",-apple-system,"Lucida Grande","Apple SD Gothic Neo","\B9D1\C740   \ACE0\B515","Malgun Gothic","Segoe UI","\B3CB\C6C0",dotum,sans-serif;border:0;border-radius:0}.tui-editor-contents pre{margin:2px 0 8px;padding:18px;background-color:#f5f7f8}.tui-editor-contents code{color:#c1788b;padding:4px 4px 2px 0;letter-spacing:-.3px}.tui-editor-contents pre code{padding:0;color:inherit;white-space:pre-wrap;background-color:transparent}.tui-editor-contents pre.addon{border:1px solid #e8ebed;background-color:#fff}.tui-editor-contents img{margin:4px 0 10px;box-sizing:border-box;vertical-align:top;max-width:100%}.tui-editor-contents table{margin:2px 0 14px;color:#555;width:auto;border-collapse:collapse;box-sizing:border-box}.tui-editor-contents table td,.tui-editor-contents table th{height:32px;padding:5px 14px 5px 12px}.tui-editor-contents table td{border:1px solid #eaeaea}.tui-editor-contents table th{border:1px solid #72777b;border-top:0;background-color:#7b8184;font-weight:300;color:#fff;padding-top:6px}.tui-editor-contents dir,.tui-editor-contents menu,.tui-editor-contents ol,.tui-editor-contents ul{display:block;list-style-type:disc;padding-left:17px;margin:6px 0 10px;color:#555}.tui-editor-contents ol{list-style-type:decimal}.tui-editor-contents ol ol,.tui-editor-contents ol ul,.tui-editor-contents ul ol,.tui-editor-contents ul ul{margin-top:0!important;margin-bottom:0!important}.tui-editor-contents ol li,.tui-editor-contents ul li{position:relative}.tui-editor-contents ul p,ol p{margin:0}.tui-editor-contents ol li.task-list-item:before,.tui-editor-contents pre ul li:before,.tui-editor-contents ul li.task-list-item:before{content:""}.tui-editor-contents hr{border-top:1px solid #eee;margin:16px 0}.tui-editor-contents a{text-decoration:underline;color:#5286bc}.tui-editor-contents a:hover{color:#007cff}.tui-editor-contents{font-size:13px;margin:0;padding:0}.tui-editor-contents .task-list-item{border:0;list-style:none;padding-left:22px;margin-left:-22px;min-height:20px}.tui-editor-contents .task-list-item:before{background-repeat:no-repeat;background-size:16px 16px;background-position:center;content:"";height:18px;width:18px;position:absolute;left:0;top:1px;cursor:pointer;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAADdJREFUKBVjvHv37n8GMgALSI+SkhJJWu/du8fARJIOJMWjGpECA505GjjoIYLEB6dVUNojFQAA/1MJUFWet/4AAAAASUVORK5CYII=)}.tui-editor-contents .task-list-item.checked:before{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAMpJREFUKBVjjJ/64D8DGYCJDD1gLbTVyM3OxJDiJMzAxcYIdyALnIWDAdJU7i/OICfCxsDMxMgwc88bwk5F1vTs/W+GFUffwY2H+1FBlI2hLliCQYCbGSyJrqlzwwuGj9//YWoMtRBgUBJnZ6gMEGeQFWaFOw9kE7omkG5GWDyCPF7mJ86gIMbO8P//fwZGRkYGXJpAGuFO/fbrP0PXppcMD179JKgJRSOIA9N8/NZXrM4DqYEBjOgAaYYFOUwRNhruVGyS+MTI1ggAx8NTGcUtFVQAAAAASUVORK5CYII=)}.tui-editor-contents .task-list-item .task-list-item-checkbox,.tui-editor-contents .task-list-item input[type=checkbox]{margin-left:-17px;margin-right:3.8px;margin-top:3px}.tui-editor-contents-placeholder:before{content:attr(data-placeholder);color:grey;line-height:160%;position:absolute}body {
  margin: 0;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  border: 1px solid whitesmoke;
  margin: 20px 0;
}

img {
  max-width: 100%;
}

pre {
  max-width: 100%;
  overflow: auto;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 100vw;
  }
}

.container--wide {
  width: 100vw;
}

.form__control {
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 2px;
  font-size: 1.1em;
}

.input {
  padding: 8px !important;
  border: 1px solid whitesmoke !important;
  border-radius: 3px;
  outline-offset: 1px;
}

.input:focus,
.input--focus {
  outline: 1px dotted black !important;
}

.input[aria-invalid]:not([aria-invalid=false]) {
  outline: 1px dotted red !important;
}

.input[type=checkbox] {
  height: 0;
  width: 0;
  cursor: pointer;
  outline: none !important;
  margin: 0 30px 12px 0;
  padding: 10px;
}

.input::after {
  line-height: 1.5em;
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  position: relative;
  top: -16px;
  box-shadow: 0 0 2px 4px whitesmoke, inset 0 0 0 3px white;
}

.input:checked::after {
  background: rebeccapurple;
}

.input + label {
  display: inline-block;
  cursor: pointer;
}

.input:disabled {
  cursor: not-allowed;
}

textarea.input {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
}

select {
  border: 2px solid whitesmoke;
  background: white;
  padding: 4px;
}

.input__error {
  color: red;
  display: block;
  font-size: 0.7em;
  margin: 7px 0 3px 0;
}

@-webkit-keyframes trembling {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes trembling {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.input[aria-invalid]:not([aria-invalid=false]) {
  -webkit-animation: trembling 0.1s 2;
          animation: trembling 0.1s 2;
}

.jumbotron {
  padding: 10px;
  background: whitesmoke;
  border-radius: 3px;
}

.nav-placeholder {
  height: 80px;
}

.nav {
  z-index: 1000;
  display: flex;
  align-items: center;
  overflow-x: auto;
  position: fixed;
  width: 100vw;
  height: 80px;
}

.nav__right {
  margin: 10px 20px 10px auto;
}

.nav__burger {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  align-self: center;
  justify-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 10px auto;
}

.nav__burger > i {
  height: 2px;
  background: black;
  width: 100%;
  transition: transform 0.1s, opacity 0.1s;
  display: block;
}

.nav__burger--active > i:first-child {
  transform: rotate(45deg) scale(1.3242135624);
  transform-origin: 0 0;
}

.nav__burger--active > i:last-child {
  transform: rotate(-45deg) scale(1.3242135624);
  transform-origin: 0 0;
}

.nav__burger--active > i:nth-child(2) {
  opacity: 0;
}

.nav__brand {
  margin-left: 20px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 30px;
  position: relative;
}

.nav__links__a {
  text-decoration: none;
  margin: 5px 3px;
  padding: 0 10px;
  min-width: 40px;
  height: 2em;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .nav__burger {
    display: flex;
    position: relative;
  }

  .nav__burger:active::after {
    content: "";
    position: absolute;
    background: whitesmoke;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: scale(1.1);
  }

  .nav__links {
    transition: opacity 0.3s;
    position: fixed;
    flex-direction: column;
    top: 80px;
    bottom: 0;
    width: 100vw;
    margin: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    background: white;
  }
}

.nav--active .nav__links {
  opacity: 1;
  pointer-events: initial;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  background: whitesmoke;
  color: black;
}

.btn:disabled {
  cursor: not-allowed;
  background: lightgray;
  color: gray;
}

.btn:disabled:hover {
  color: gray;
  background: lightgray;
}

.btn:hover {
  background: gainsboro;
  color: #1a1a1a;
}

.btn:focus {
  outline: 2px dotted gray;
}

.btn:active {
  outline: 2px dotted black;
}

.btn.btn--inverted {
  color: whitesmoke;
  background: black;
}

.btn.btn--inverted:hover {
  background: #1a1a1a;
  color: gainsboro;
}

.btn--primary {
  background: #00cccc;
  color: white;
}

.btn--primary:hover {
  background: #009999;
  color: white;
}

.btn--primary:focus {
  outline: 2px dotted gray;
}

.btn--primary:active {
  outline: 2px dotted black;
}

.btn--primary.btn--inverted {
  color: #00cccc;
  background: white;
}

.btn--primary.btn--inverted:hover {
  background: white;
  color: #009999;
}

.btn--danger {
  background: red;
  color: white;
}

.btn--danger:hover {
  background: #cc0000;
  color: white;
}

.btn--danger:focus {
  outline: 2px dotted gray;
}

.btn--danger:active {
  outline: 2px dotted black;
}

.btn--danger.btn--inverted {
  color: red;
  background: white;
}

.btn--danger.btn--inverted:hover {
  background: white;
  color: #cc0000;
}

.btn--transparent,
.btn--transparent:hover {
  background: transparent;
}

.btn--flat-white {
  border: 2px solid white;
  background: transparent;
  transition: background 0.1s;
  color: white;
}

.btn--flat-white:hover {
  background: white;
  color: black;
}

.notification {
  padding: 5px 15px;
  margin: 0 0 10px 0;
  border: 2px solid whitesmoke;
  background: #e8e8e8;
}

.notification--danger {
  border-color: red;
  color: white;
  background: #e60000;
}

.card {
  border: 1px solid whitesmoke;
  padding: 4px;
  border-radius: 3px;
}

.page {
  padding: 0 10px;
}

.page__header {
  display: flex;
}

.page__header__right {
  margin-left: auto;
  align-self: center;
}

.d--block {
  display: block;
}

.d--inline {
  display: inline;
}

.d--run-in {
  display: run-in;
}

.d--flow {
  display: flow;
}

.d--flow-root {
  display: flow-root;
}

.d--table {
  display: table;
}

.d--flex {
  display: flex;
}

.d--grid {
  display: grid;
}

.d--ruby {
  display: ruby;
}

.d--table-row-group {
  display: table-row-group;
}

.d--table-header-group {
  display: table-header-group;
}

.d--table-footer-group {
  display: table-footer-group;
}

.d--table-row {
  display: table-row;
}

.d--table-cell {
  display: table-cell;
}

.d--table-column-group {
  display: table-column-group;
}

.d--table-column {
  display: table-column;
}

.d--table-caption {
  display: table-caption;
}

.d--ruby-base {
  display: ruby-base;
}

.d--ruby-text {
  display: ruby-text;
}

.d--ruby-base-container {
  display: ruby-base-container;
}

.d--ruby-text-container {
  display: ruby-text-container;
}

.d--none {
  display: none;
}

.d--inline-block {
  display: inline-block;
}

.d--inline-table {
  display: inline-table;
}

.d--inline-flex {
  display: inline-flex;
}

.d--inline-grid {
  display: inline-grid;
}

.mt--1 {
  margin-top: 5px;
}

.mb--1 {
  margin-bottom: 5px;
}

.ml--1 {
  margin-left: 5px;
}

.mr--1 {
  margin-right: 5px;
}

.m--1 {
  margin: 5px;
}

.mt--2 {
  margin-top: 10px;
}

.mb--2 {
  margin-bottom: 10px;
}

.ml--2 {
  margin-left: 10px;
}

.mr--2 {
  margin-right: 10px;
}

.m--2 {
  margin: 10px;
}

.mt--3 {
  margin-top: 15px;
}

.mb--3 {
  margin-bottom: 15px;
}

.ml--3 {
  margin-left: 15px;
}

.mr--3 {
  margin-right: 15px;
}

.m--3 {
  margin: 15px;
}

.mt--4 {
  margin-top: 20px;
}

.mb--4 {
  margin-bottom: 20px;
}

.ml--4 {
  margin-left: 20px;
}

.mr--4 {
  margin-right: 20px;
}

.m--4 {
  margin: 20px;
}

.mt--5 {
  margin-top: 25px;
}

.mb--5 {
  margin-bottom: 25px;
}

.ml--5 {
  margin-left: 25px;
}

.mr--5 {
  margin-right: 25px;
}

.m--5 {
  margin: 25px;
}

.mt--6 {
  margin-top: 30px;
}

.mb--6 {
  margin-bottom: 30px;
}

.ml--6 {
  margin-left: 30px;
}

.mr--6 {
  margin-right: 30px;
}

.m--6 {
  margin: 30px;
}

.mt--7 {
  margin-top: 35px;
}

.mb--7 {
  margin-bottom: 35px;
}

.ml--7 {
  margin-left: 35px;
}

.mr--7 {
  margin-right: 35px;
}

.m--7 {
  margin: 35px;
}

.mt--8 {
  margin-top: 40px;
}

.mb--8 {
  margin-bottom: 40px;
}

.ml--8 {
  margin-left: 40px;
}

.mr--8 {
  margin-right: 40px;
}

.m--8 {
  margin: 40px;
}

.mt--9 {
  margin-top: 45px;
}

.mb--9 {
  margin-bottom: 45px;
}

.ml--9 {
  margin-left: 45px;
}

.mr--9 {
  margin-right: 45px;
}

.m--9 {
  margin: 45px;
}

.mt--10 {
  margin-top: 50px;
}

.mb--10 {
  margin-bottom: 50px;
}

.ml--10 {
  margin-left: 50px;
}

.mr--10 {
  margin-right: 50px;
}

.m--10 {
  margin: 50px;
}

.pt--1 {
  padding-top: 2px;
}

.pb--1 {
  padding-bottom: 2px;
}

.pl--1 {
  padding-left: 2px;
}

.pr--1 {
  padding-right: 2px;
}

.p--1 {
  padding: 2px;
}

.pt--2 {
  padding-top: 4px;
}

.pb--2 {
  padding-bottom: 4px;
}

.pl--2 {
  padding-left: 4px;
}

.pr--2 {
  padding-right: 4px;
}

.p--2 {
  padding: 4px;
}

.pt--3 {
  padding-top: 6px;
}

.pb--3 {
  padding-bottom: 6px;
}

.pl--3 {
  padding-left: 6px;
}

.pr--3 {
  padding-right: 6px;
}

.p--3 {
  padding: 6px;
}

.pt--4 {
  padding-top: 8px;
}

.pb--4 {
  padding-bottom: 8px;
}

.pl--4 {
  padding-left: 8px;
}

.pr--4 {
  padding-right: 8px;
}

.p--4 {
  padding: 8px;
}

.pt--5 {
  padding-top: 10px;
}

.pb--5 {
  padding-bottom: 10px;
}

.pl--5 {
  padding-left: 10px;
}

.pr--5 {
  padding-right: 10px;
}

.p--5 {
  padding: 10px;
}

.pt--6 {
  padding-top: 12px;
}

.pb--6 {
  padding-bottom: 12px;
}

.pl--6 {
  padding-left: 12px;
}

.pr--6 {
  padding-right: 12px;
}

.p--6 {
  padding: 12px;
}

.pt--7 {
  padding-top: 14px;
}

.pb--7 {
  padding-bottom: 14px;
}

.pl--7 {
  padding-left: 14px;
}

.pr--7 {
  padding-right: 14px;
}

.p--7 {
  padding: 14px;
}

.pt--8 {
  padding-top: 16px;
}

.pb--8 {
  padding-bottom: 16px;
}

.pl--8 {
  padding-left: 16px;
}

.pr--8 {
  padding-right: 16px;
}

.p--8 {
  padding: 16px;
}

.pt--9 {
  padding-top: 18px;
}

.pb--9 {
  padding-bottom: 18px;
}

.pl--9 {
  padding-left: 18px;
}

.pr--9 {
  padding-right: 18px;
}

.p--9 {
  padding: 18px;
}

.pt--10 {
  padding-top: 20px;
}

.pb--10 {
  padding-bottom: 20px;
}

.pl--10 {
  padding-left: 20px;
}

.pr--10 {
  padding-right: 20px;
}

.p--10 {
  padding: 20px;
}

.vhd-input {
  padding: 8px !important;
  border: 1px solid whitesmoke !important;
  border-radius: 3px;
  outline-offset: 1px;
  line-height: initial !important;
  font-size: 13px !important;
}

.vhd-input:focus,
.vhd-input--focus {
  outline: 1px dotted black !important;
}

.vhd-input[aria-invalid]:not([aria-invalid=false]) {
  outline: 1px dotted red !important;
}

