$ss-display-types: block, inline, run-in, flow, flow-root, table, flex, grid, ruby, table-row-group, table-header-group, table-footer-group, table-row, table-cell, table-column-group, table-column, table-caption, ruby-base, ruby-text, ruby-base-container, ruby-text-container, none, inline-block, inline-table, inline-flex, inline-grid;

@each $d in $ss-display-types {
    .d--#{$d} {
        display: $d
    }

    .#{$d} {
        display: $d
    }
}

.justify-center {
    justify-content: center;
}


